.form {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: auto;
    margin: 50px;
    padding: 50px;
  }

.form_field{
    display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	height: auto;
	background: #E8A87C;
    padding: 75px;
    margin: 25px;
	border-radius: 10px;
}

mat-label{
	color: black;
}